services:
  mt-baseimage:
    image: mt-baseimage:0.1
    hostname: mt-baseimage
    container_name: mt-baseimage
    user: "aigc:aigc"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "5040:5040"
    environment:
      - APP_PORT=5400
    volumes:
#      - /home/aigc/work/models/aivoice_models/sound_models/stable-audio-open-1.0:/app/models/stable-audio-open-1.0
#      - /home/aigc/work/models/aichat_models/google-t5:/app/models/google-t5
      - /home/aigc/data/aioutput/logs:/app/baselog
#     - /home/aigc/data/aioutput/sounds/tk:/app/output
    extra_hosts:
      - "host.docker.internal:host-gateway"
    #tty: true
